* {
  font-family: "Poppins", sans-serif !important;
}
html,
body {
  height: 100%;
  background: url(../img/bg.jpeg);
  background-size: cover;
}

.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  border-radius: 20px;
}
.login-form {
  width: 450px;
  height: 540px;
  padding: 20px;
  background-color: white !important;
  color: black !important;
  margin: 0;
}

.card-title {
  font-weight: 900;
  padding-top: 45px;
  color: black;
}

.btn {
  background: black !important;
  color: white !important;
  transform: translate(10px);
  font-size: 14px;
  border-radius: 50px !important;
  margin: 10px 10px 10px -10px;
}

.card .bg {
  width: 50%;
  margin-top: -40px;
  margin-left: 90px;
  margin-bottom: -60px;
  position: relative;
}

@media screen and (max-width: 500px) {
  .login-form {
    transform: scale(0.8);
  }

  body {
    background-position-x: center;
  }
}
@media screen and (max-width: 768px) {
  .login-form {
    transform: scale(0.8);
  }

  body {
    background-position-x: center;
  }

  .card .bg {
    width: 50%;
    margin-top: -40px;
    margin-right: 90px;
    margin-bottom: -60px;
    position: relative;
  }
}
@media screen and (max-width: 990px) {
  .login-form {
    transform: scale(0.8);
  }

  body {
    background-position-x: center;
  }
}
